/ExerciciosEmCSharp/PraticaPOO/obj
/ExerciciosEmCSharp/Utilitarios/obj
ExerciciosEmCSharp/Utilitarios/obj/Debug/net10.0/Utilitarios.AssemblyInfo.cs
/ExerciciosEmCSharp/PraticaPOO/bin
/ExerciciosEmCSharp/Utilitarios/obj
/ExerciciosEmCSharp/PraticaPOO/bin

